@keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}
.reveal {
    
    opacity:0;
}

.reveal.active {
    opacity:1;
}

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

// cubic-bezier(0.4, 0.5, 1.0, 0.1)
   
   @keyframes ease {
   from {
       visibility: hidden;
       opacity:0;
   }
       1%{
           visibility: visible;
           opacity:0;
           }
   to {
      visibility: visible;
       opacity:1;
   }
}

  .ease-in{
    animation: ease 3000ms ease;
  }

.has-fade{
     visibility: hidden;
    }
    
    @keyframes fade-in {
    from {
        visibility: hidden;
        opacity:0;
    }
        1%{
            visibility: visible;
            opacity:0;
            }
    to {
       visibility: visible;
        opacity:1;
    }
}

    .fade-in {
        animation: fade-in 300ms ease-in-out forwards;
        }
    


@keyframes fade-out {
    from {
        visibility: visible;
        opacity:1;
    }

    99%{
        visibility: visible;
        opacity:0;
        }

    to {
        visibility: hidden;
        opacity:0;
    }
}


    .fade-out {
        animation: fade-out 300ms ease-in-out forwards;
        }

@keyframes twitch {
    
    0% {
        transform: translateX(0);
    }
    15% {
        transform: translateX(1px);
    }
    75% {
        transform: translateX(-1px);
    }
    100% {
        transform: translateX(0px);
    }
}

.twitch {
    animation: twitch 0.10s;
    animation-iteration-count: 100;
   
}

@keyframes pulse {
    
    0% {
        transform: scale(0);
    }
   
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse 3s;
}


    // animation-delay: 0.5s;



  


@keyframes slider {
    from {
        margin-right: -50px;
      }
    
      to {
        margin-right: 50px;
      }  
         }
      
    


   