.footer {
    background-color: $neonPink;
    padding: 2.5rem;
    text-align: center;
color:white;
  
img{
    border-radius: 50px;
    box-shadow: 2px 5px 5px $neonPink inset;
}

.container {

    @include breakpoint-up(large){
        display:grid;
        grid-template-columns: repeat(3,1fr), 2fr;  
        grid-template-rows: repeat(2,1fr);
       grid-template-areas: 
       "logo links1  links2 cta"
       "social links1 links2 copyright" ;
       gap:1rem;
       justify-items: start;
       }
}

h3{
   
    font-family: 'Staatliches', cursive;
    line-height: 2rem;
        color:black;
        text-shadow:0px 0px 3px $neonPurple;
        &:hover{
            animation: twitch 0.10s;
            animation-iteration-count: 100;
        }

}

a{
color:white;
}

&__logo {
margin-bottom: 1.875rem;

@include breakpoint-up(large){
    grid-area:logo;
}
}

&__social {
     @include breakpoint-down(medium){
        margin-bottom: 1.875rem;
    }

    @include breakpoint-down(large){
        grid-area:social;
        align-self:top;
    }

    a {
    display:inline-block;
    height: 1.25rem;
    }
        a:not(:last-child){
        margin-right:1rem;
    }
    }

&__links{
    display:flex;
    flex-direction: column;
    align-items:center;
    font-size:0.9375rem;
   

    @include breakpoint-up(large){
        align-items: middle;
        
    }

&.col1{
@include breakpoint-up(large){
    grid-area:links1;
}
}    
 

&.col2 {
margin-bottom: 1rem;

    @include breakpoint-up(large){
        grid-area:links2;

    }
}


a{
    line-height:2.25;
    transition: color 150ms ease-in-out;
    color: white;
    text-shadow:0px 0px 3px rgb(1, 255, 255);

    &:hover{
        color: white;
        transform:scale(1.5);
        text-shadow:0px 0px 5px rgb(1, 255, 255);
       
    }
}
}

&__cta{

@include breakpoint-up(large){
    grid-area:cta;
    text-align: right;
    justify-self: end;
}

a.button{
border: 4px solid $neonPurple;
    


    @include breakpoint-down(medium) {
        margin-bottom: 1.875rem;
      }
}

}

&__copyright {
 font-size: 0.8125rem;
 color: $greyishBlue;
margin-bottom: 1rem;

 @include breakpoint-up(large){
     grid-area: copyright;
     align-self:middle;
     justify-self: end;
 
 }
}

 .attribution {
    font-size: 0.875rem;
 }

}
