$neonPink: rgb(255, 0, 128);
$darkGrey: rgb(11, 11, 11);
$neonPurple:rgb(159, 49, 255);
$teal:rgb(8, 108, 108);

$darkTeal: #264348;
$yellow: #eee71b;
$brightCyan: #00ced1;
$greyishBlue: #b0c4de;
$veryLightGrey: #dcdcdc;
$offWhite: #f5fffa;

$font-med:1.125rem;
$font-sm: 0.75rem;

@font-face {
    $font-family: hacked;
    src: url(/font/font/hacked-font/Hacked-KerX.ttf);
}

$box-shadow:  0 0 8px 8px $neonPink inset;