.wordBlock {
    background-image: url("https://image.freepik.com/free-photo/cool-geometric-triangular-figure-neon-laser-light-great-backgrounds_181624-11068.jpg?w=826");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    padding: 3rem;
    height: 35rem;
    display: flex;
    align-items:center;
    justify-content: center;

    &__text{
display: flex;
align-items:center;
justify-content: center;

        h1{
            font-size: 2.6rem;
            font-weight: 800;
        }

        .text{
            display: block;
            line-height: 6rem;
            padding: 1rem;
            letter-spacing: 2.5px;
            text-shadow: 8px 0px 10px $neonPink;
            font-size: 1.5rem;

            
                animation: slider 5s infinite;
            

            @include breakpoint-up(large){
            line-height: 8rem;
            padding: 2rem;
            font-size: 8rem;
                
            .text:first-child{
                animation: slider 5s infinite;
            }
        }
         
    }

}
}

